anyio==4.12.1
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.1.8
colorama==0.4.6
filelock==3.25.2
Flask==3.0.0
Flask-Cors==4.0.0
fsspec==2026.2.0
googletrans==4.0.2
gTTS==2.5.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
hyperframe==6.1.0
icalendar==5.0.11
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mutagen==1.47.0
numpy==2.4.3
packaging==26.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.3
regex==2026.2.28
requests==2.31.0
safetensors==0.7.0
six==1.17.0
tokenizers==0.15.2
tqdm==4.67.3
transformers==4.36.2
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.6